* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007acc;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

h2 {
    margin-top: 20px;
    font-size: 2em;
    border-bottom: 2px solid #007acc;
    padding-bottom: 5px;
}

.contact-info {
    margin: 10px 0;
}

nav {
    position: sticky;
    top: 0;
    background-color: #007acc;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}

.section {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0;
    /* Añadir un margen para espaciar las habilidades */
}

.skill {
    background-color: #e7f3ff;
    /* Color uniforme para todas las habilidades */
    border-radius: 5px;
    padding: 5px;
}

form {
    margin: 40px 0;
    padding: 20px;
    background-color: #e7f3ff;
    border-radius: 8px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007acc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #005999;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007acc;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    position: relative;
    margin-top: 40px;
    /* Espaciado superior */
}

footer p {
    margin: 10px 0;
    /* Espaciado para el texto */
    font-size: 14px;
    /* Tamaño de fuente más pequeño */
}

.social-icons {
    margin-top: 10px;
    /* Espacio superior para los íconos */
}

.social-icons a {
    margin: 0 15px;
    /* Espaciado horizontal entre íconos */
    color: #fff;
    /* Color de los íconos */
    font-size: 24px;
    /* Tamaño de los íconos */
    text-decoration: none;
    /* Sin subrayado */
    transition: color 0.3s;
    /* Transición suave al cambiar color */
}

.social-icons a:hover {
    color: #e7f3ff;
    /* Color en hover (un tono más claro) */
}

@media (max-width: 600px) {
    footer {
        padding: 15px;
        /* Ajustar padding en pantallas pequeñas */
    }

    .social-icons a {
        font-size: 20px;
        /* Reducir tamaño de íconos en pantallas pequeñas */
        margin: 0 10px;
        /* Ajustar espaciado entre íconos */
    }
}